h1, h2, h3, h4, h5, h6, a {
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h3 {
    font-size: 1.8rem;
    margin-top: 30px;
}
h2 {
    font-size: 2.5rem;
    margin-top: 40px;
    margin-bottom: 30px; 
}
h4 {
    font-size: 1.4rem;
    font-style: italic;
    font-weight: normal;
}
.profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.post-meta li {
    list-style-type: disc;
    padding-left: 20px;
    font-size: 1.2rem;
    color: black;
}
